body {
  background-color: rgb(28, 29, 28);
  color: white;
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  background-image: url(/images/77d0a7c454e658833800528e748edbe9.png);
  background-repeat: no-repeat;
  background-position: 570px 150px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#titulo {
  flex-direction: column;
  line-height: 10px;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  list-style: none;
}

a {
  color: white;
}

a:hover {
  color: rgb(132, 14, 201);
  transition: 0.3s all;
}

#inscreva-se {
  border: 2px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 15px;
}

#inscreva-se:hover {
  background-color: rgb(132, 14, 201);
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

h2 {
  font-size: 56px;
  line-height: 10px;
  font-family: sans-serif;
}

span {
  color: rgb(132, 14, 201);
}

p {
  line-height: 20px;
  max-width: 500px;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: rgb(132, 14, 201);
  color: white;
  font-weight: bold;
}
form [type="submit"]:hover {
  cursor: pointer;
}

input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
